* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

.App {
  background-image: url('./assets/weatherAppImg.jpg');
  background-size: cover;
}

main {
  min-height: 100vh;
  padding: 50px;
}

.search-box {
  width: 25%;
  height: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  appearance: none;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  margin-bottom: 30px;
  padding-left: 5px;
}

.search-box:focus {
  background-color: rgba(255, 255, 255, 1);
}

.location-box .location {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.location-box .date {
  color: white;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  color: rgb(70, 69, 69);
  margin: 25px auto;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

p {
  color: white;
  opacity: .75;
}

.three-hour {
  position: relative;
  display: inline-block;
  color: rgb(70, 69, 69);
  margin: 25px auto;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.weather-box .five-day {
  position: relative;
  display: inline-block;
  color: rgb(70, 69, 69);
  margin: 25px auto;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
